* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans" sans-serif;
}

body {
    overflow-x: hidden;
}

.navbar {
    background-color: #a18167;
}

.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -15px;
}

.navbar-toggler {
    outline: none;
    box-shadow: none;
    border-color: #fff;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon {
    outline: none;
    box-shadow: none;
}

.navbar-brand .logo-name {
    font-size: 1.8rem;
    font-family: "Permanent Marker", sans-serif;
}

@media only screen and (max-width: 600px) {
    .navbar-brand {
        left: 160px;
    }
    .navbar-brand .logo-name {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 400px) {
    .navbar-brand {
        left: 120px;
    }
    .navbar-brand .logo-name {
        font-size: 1rem;
    }
}

.navbar-brand small {
    display: block;
    font-size: 12px;
    font-style: italic;
}


/* contact start */

.header {
    color: #a18167;
}

#floatingtextarea {
    height: 150px
}


/* map info start */

.map {
    position: relative;
    padding-bottom: 50%;
    margin-top: -55px;
    height: 0;
    overflow: hidden;
    margin-bottom: 50px;
}

.map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* about us start */

.space-line::after {
    content: "";
    width: 140px;
    position: absolute;
    display: block;
    border-bottom: 5px solid #a18167;
    padding-top: .5rem;
}

.objective-icon {
    border-radius: 13px;
    width: 8rem;
}


/* signup start */

.banner {
    border: 4px solid #a18167;
    border-radius: 8px;
    background-color: #E3F0FF;
}

input {
    height: 3rem;
    margin-bottom: 1rem;
}

.signup-btn {
    width: 60%;
}

select {
    height: 3rem;
}


/* login start */

.login-btn {
    width: 70%;
}